@model IEnumerable<Entities.User>

@{
    ViewData["Title"] = "Users";
}

<div>
    <a asp-page="/Create">Create</a>
</div>
<table class="table">
    <thead>
        <tr>
            Email
        </tr>
        <tr>
            Password
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Email</td>
                <td>@item.CreatedAt.Value.ToString("dd-MM-yyyy")</td>
            </tr>
        }

    </tbody>
</table>
